.contenedor-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.contenedor-cont-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 700px;
    height: 400px;
    padding: 15px;
    background-color: #FFF;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.titulo1{
    font-size: 2rem;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 1.5rem;
}


.titulo1 span {
    color: #DABFFF
}
.subtitulo1 {
    font-size: 1.2rem;
    color: #1a1a1a;
}
.subtitulo1 span{
font-weight: bold;
}


@media screen and (max-width: 768px) {
    .contenedor-inicio {
        flex-direction: column;
    }
    .contenedor-cont {
        width: 100%;
        height: 550px;
    }
    .contenedor-cont-texto {
        width: 80%;
        height: 400px;
    }
    .titulo1 {
        font-size: 1.5rem;
    }
    .subtitulo1 {
        font-size: 1rem;
    }


}

    




