.footer{
    background-color: #DABFFF;
    height: 70px;
    display: flex;
    justify-content:center;
    align-items: center;
    position: sticky;
    bottom: 20px;
    z-index: 999;
    margin: 0 30% 0 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
}


@media screen and (max-width: 768px) {

    .footer{
        margin: 0 10% 0 10%;
    }
    .footer__logo img{
        width: 100px;
        height: 100px;
    }
}

    

