.contenedor-inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
  
}
.contenedor-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 30%;
    margin: 50px;
}
.contenedor-texto .titulo{
    font-size: 2.5rem;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 1rem;
}
.titulo span{
    color: #ff0000;
}
.subtitulo{
    font-size: 1rem;
    color: #1a1a1a;
    margin-bottom: 1rem;
}
.subtitulo span{
    color: #ff0000;
}



.contenedor-video{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 30%;
    margin: 50px;

}

.contenedor-video iframe{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius:2rem;
    -webkit-border-radius:2rem;
    -moz-border-radius:2rem;
    -ms-border-radius:2rem;
    -o-border-radius:2rem;
}